<nav id="navigator" class="z-10 px-20 py-2 absolute top-0 left-0 w-full flex space-between items-center">
    <div class="brand w-[50%]">
        <a href="./" class="text-xl font-bold underline">
            RENTCAR<i class="fa fa-copyright text-[10px]"></i>
        </a>
    </div>
    <div class="center w-[50%] flex space-between items-center text-[11px]">
        <a href="/" class="transition mx-1 p-3 rounded hover:bg-white font-bold hover:shadow-lg">Inicio</a>
        <a href="/services" class="transition mx-1 p-3 rounded hover:bg-white font-bold hover:shadow-lg">Servicios</a>
        <a href="/order-list" class="transition mx-1 p-3 rounded hover:bg-white font-bold hover:shadow-lg">Ordenes</a>
        <a href="#" class="transition mx-1 p-3 rounded hover:bg-white font-bold hover:shadow-lg">Contacto</a>
    </div>
    <div class="right w-[50%] text-right">
        <a href="/login" class="transition bg-yellow-500 hover:bg-yellow-600 rounded px-4 py-2 shadow-lg text-xs text-white font-bold">
            login <i class="fa fa-user-circle-o text-[10px]"></i>
        </a>
        <button class="ml-6">
            <i class="fa fa-search"></i>
        </button>
    </div>
</nav>